[GSD-13400] Cant use B580 on flatpak

### Pre-submission Checklist

- [x] I am using the latest GPU driver version ([releases](https://github.com/intel/compute-runtime/releases))
- [x] I have searched for similar issues and found none

### GPU Hardware

Intel Arc B580

### DRI Devices Information

```
davi@davi:/tmp$ ls -ls /dev/dri/*
0 crw-rw----+ 1 root video  226,   0 Sep  5 16:54 /dev/dri/card0
0 crw-rw----+ 1 root video  226,   1 Sep  5 16:54 /dev/dri/card1
0 crw-rw----+ 1 root render 226, 128 Sep  5 16:54 /dev/dri/renderD128
0 crw-rw----+ 1 root render 226, 129 Sep  5 16:54 /dev/dri/renderD129

/dev/dri/by-path:
total 0
0 lrwxrwxrwx 1 root root  8 Sep  5 16:10 pci-0000:03:00.0-card -> ../card0
0 lrwxrwxrwx 1 root root 13 Sep  5 16:10 pci-0000:03:00.0-render -> ../renderD129
0 lrwxrwxrwx 1 root root  8 Sep  5 16:10 pci-0000:09:00.0-card -> ../card1
0 lrwxrwxrwx 1 root root 13 Sep  5 16:10 pci-0000:09:00.0-render -> ../renderD128
```

### GPU Detailed Information (lspci output)

```
davi@davi:/tmp$ lspci -vvv -k -s 0000:09:00.0
09:00.0 VGA compatible controller: Intel Corporation Battlemage G21 [Arc B580] (prog-if 00 [VGA controller])
	Subsystem: Intel Corporation Device 1100
	Control: I/O- Mem+ BusMaster+ SpecCycle- MemWINV- VGASnoop- ParErr- Stepping- SERR- FastB2B- DisINTx-
	Status: Cap+ 66MHz- UDF- FastB2B- ParErr- DEVSEL=fast >TAbort- <TAbort- <MAbort- >SERR- <PERR- INTx-
	Latency: 0, Cache Line Size: 64 bytes
	Interrupt: pin ? routed to IRQ 66
	IOMMU group: 17
	Region 0: Memory at fb000000 (64-bit, non-prefetchable) [size=16M]
	Region 2: Memory at 7800000000 (64-bit, prefetchable) [size=16G]
	Expansion ROM at fc000000 [disabled] [size=2M]
	Capabilities: <access denied>
	Kernel driver in use: xe
	Kernel modules: xe
```

### Driver Version

26.31.39395.13

### Installed GPU Driver Packages

```
davi@davi:/tmp$ sudo dpkg --list | grep -iE "igc|gmm|opencl|level-zero|fc|level_zero|ocloc|libze"
[sudo: authenticate] Password: 
ii  clinfo                                                      3.0.25.02.14-1                               amd64        Query OpenCL system information
ii  intel-igc-core-2                                            2.40.13                                      amd64        Intel(R) Graphics Compiler for OpenCL(TM)
ii  intel-igc-opencl-2                                          2.40.13                                      amd64        Intel(R) Graphics Compiler for OpenCL(TM)
ii  intel-ocloc                                                 26.31.39395.13-0                             amd64        Tool for managing Intel Compute GPU device binary format
ii  intel-opencl-icd                                            26.31.39395.13-0                             amd64        Intel graphics compute runtime for OpenCL
rc  intel-opencl-icd-legacy                                     24.35.30872.32-2                             amd64        Intel graphics compute runtime for OpenCL -- legacy platforms
ii  intltool-debian                                             0.35.0+20060710.6                            all          Help i18n of RFC822 compliant config files
ic  level-zero                                                  1.28.0                                       amd64        oneAPI Level Zero
ii  libcbor-dev:amd64                                           0.10.2-2ubuntu1                              amd64        library for parsing and generating CBOR (RFC 7049) (development headers)
ii  libcbor0.10:amd64                                           0.10.2-2ubuntu1                              amd64        library for parsing and generating CBOR (RFC 7049)
ii  libcgi-fast-perl                                            1:2.17-1                                     all          CGI subclass for work with FCGI
ii  libclc-20                                                   1:20.1.8-0ubuntu4                            all          OpenCL C language implementation - platform support
ii  libclc-20-dev                                               1:20.1.8-0ubuntu4                            all          OpenCL C language implementation - development files
ii  libdebconfclient0:amd64                                     0.279ubuntu1                                 amd64        Debian Configuration Management System (C-implementation library)
ii  libemail-address-xs-perl                                    1.05-1build5                                 amd64        Perl library for RFC 5322 address/group parsing and formatting
ii  libfcgi-bin                                                 2.4.5-0.1build1                              amd64        FastCGI bridge from CGI
ii  libfcgi-perl                                                0.82+ds-3build3                              amd64        helper module for FastCGI
ii  libfcgi0t64:amd64                                           2.4.5-0.1build1                              amd64        shared library of FastCGI
ii  libfile-fcntllock-perl                                      0.22-4ubuntu6                                amd64        Perl module for file locking with fcntl(2)
ii  libigdgmm12:amd64                                           22.10.0                                      amd64        Intel Graphics Memory Management Library -- shared library
ii  libmath-base85-perl                                         0.5+dfsg-2                                   all          Perl extension for base 85 numbers, as referenced by RFC 1924
ii  libref-array1t64:amd64                                      0.6.2-3                                      amd64        refcounted array for C
ii  libsigc++-3.0-0:amd64                                       3.6.0-2                                      amd64        type-safe Signal Framework for C++ - runtime
ii  libze-dev                                                   1.32.0                                       amd64        oneAPI Level Zero
ii  libze-intel-gpu-raytracing                                  1.2.2-1~25.10~ppa1                           amd64        Level Zero Ray Tracing Support library
ii  libze-intel-gpu1                                            26.31.39395.13-0                             amd64        Intel(R) Graphics Compute Runtime for oneAPI Level Zero.
ii  libze1                                                      1.32.0                                       amd64        oneAPI Level Zero
ii  mesa-opencl-icd:amd64                                       25.2.8-0ubuntu0.25.10.2                      amd64        free implementation of the OpenCL API -- ICD runtime
ii  ocl-icd-dev:amd64                                           2.3.3-1                                      amd64        Development files to build an OpenCL ICD
ii  ocl-icd-libopencl1:amd64                                    2.3.3-1                                      amd64        Generic OpenCL ICD Loader
ii  ocl-icd-libopencl1:i386                                     2.3.3-1                                      i386         Generic OpenCL ICD Loader
ii  ocl-icd-opencl-dev:amd64                                    2.3.3-1                                      amd64        OpenCL development files
ii  opencl-c-headers                                            3.0~2024.10.24-2                             all          OpenCL (Open Computing Language) C header files
ii  opencl-clhpp-headers                                        3.0~2025.07.22-1ubuntu1                      all          C++ headers for OpenCL development
ii  opencl-headers                                              3.0~2024.10.24-2                             all          OpenCL (Open Computing Language) header files
rc  pocl-opencl-icd:amd64                                       6.0-4                                        amd64        pocl ICD
ii  python3-idna                                                3.10-1                                       all          Python IDNA2008 (RFC 5891) handling (Python 3)
```

### Driver Installation Details

```
cd neo
wget https://github.com/intel/intel-graphics-compiler/releases/download/v2.40.13/intel-igc-core-2_2.40.13+22418_amd64.deb
wget https://github.com/intel/intel-graphics-compiler/releases/download/v2.40.13/intel-igc-opencl-2_2.40.13+22418_amd64.deb
wget https://github.com/intel/compute-runtime/releases/download/26.31.39395.13/intel-ocloc-dbgsym_26.31.39395.13-0_amd64.ddeb
wget https://github.com/intel/compute-runtime/releases/download/26.31.39395.13/intel-ocloc_26.31.39395.13-0_amd64.deb
wget https://github.com/intel/compute-runtime/releases/download/26.31.39395.13/intel-opencl-icd-dbgsym_26.31.39395.13-0_amd64.ddeb
wget https://github.com/intel/compute-runtime/releases/download/26.31.39395.13/intel-opencl-icd_26.31.39395.13-0_amd64.deb
wget https://github.com/intel/compute-runtime/releases/download/26.31.39395.13/libigdgmm12_22.10.0_amd64.deb
wget https://github.com/intel/compute-runtime/releases/download/26.31.39395.13/libze-intel-gpu1-dbgsym_26.31.39395.13-0_amd64.ddeb
wget https://github.com/intel/compute-runtime/releases/download/26.31.39395.13/libze-intel-gpu1_26.31.39395.13-0_amd64.deb

sudo dpkg --install *.deb
```

### Linux Distribution

Other (please specify below)

### Other Linux Distribution

Ubuntu 25.10

### Kernel Version & Boot Parameters

```
davi@davi:/tmp$ uname -r
7.2.0-rc4
davi@davi:/tmp$ cat /proc/cmdline
BOOT_IMAGE=/vmlinuz-7.2.0-rc4 root=UUID=17b6281a-6902-4bc2-8f88-6b0c5aa233f7 ro quiet splash amd_iommu=on iommu=pt crashkernel=2G-4G:320M,4G-32G:512M,32G-64G:1024M,64G-128G:2048M,128G-:4096M vt.handoff=7
davi@davi:/tmp$ lsmod | grep -E 'i915|xe'
xe                   4485120  39
intel_vsec             24576  2 pmt_telemetry,xe
drm_ttm_helper         20480  2 xe,nouveau
ttm                   163840  3 drm_ttm_helper,xe,nouveau
drm_buddy              12288  1 xe
drm_suballoc_helper    24576  1 xe
i2c_algo_bit           16384  2 xe,nouveau
gpu_sched              69632  2 xe,nouveau
drm_gpuvm              57344  2 xe,nouveau
drm_gpusvm_helper      65536  1 xe
drm_exec               16384  3 drm_gpuvm,xe,nouveau
drm_display_helper    311296  2 xe,nouveau
cec                   106496  2 drm_display_helper,xe
video                  77824  3 asus_wmi,xe,nouveau
```

### Actual Behavior

I installed org.blender.Blender flatpak and I wanted to use my B580 for rendering.

When I try to select my B580 on System > Cycles Render Devices > oneAPI, it says it didnt find any GPUs. I can select it on Display Graphics > Vulkan though.

When I launch Blender with `flatpak run --env=LD_LIBRARY_PATH=\$LD_LIBRARY_PATH:/run/host/usr/lib/x86_64-linux-gnu/ org.blender.Blender`, I can see the VRAM is used because I selected it on the Display Graphics. If I try to open the Preferences, the program crashes. If I go to Render > Render Engine and select Cycles and GPU Compute, the program crashes.

```
davi@davi:/tmp$ flatpak run --env=LD_LIBRARY_PATH=\$LD_LIBRARY_PATH:/run/host/usr/lib/x86_64-linux-gnu/ org.blender.Blender 
ALSA lib dlmisc.c:339:(snd_dlobj_cache_get0) Cannot open shared library libasound_module_pcm_pulse.so (/run/host/usr/lib/x86_64-linux-gnu/alsa-lib/libasound_module_pcm_pulse.so: cannot open shared object file: No such file or directory)
Abort was called at 1205 line in file:
../../neo/shared/source/command_stream/command_stream_receiver.cpp
```

This crash happens for both cases

### Expected Behavior

The B580 should be selected and Blender should not crash

### Reproduction Rate

Always reproduces - 100%

### Steps to Reproduce

1. `flatpak run --env=LD_LIBRARY_PATH=\$LD_LIBRARY_PATH:/run/host/usr/lib/x86_64-linux-gnu/ org.blender.Blender`
2. Preferences > Cycles Render Devices > oneAPI

or

1. `flatpak run --env=LD_LIBRARY_PATH=\$LD_LIBRARY_PATH:/run/host/usr/lib/x86_64-linux-gnu/ org.blender.Blender`
2. Render > Scene > Render Engine > Cycles and select Device > GPU Compute


### Is this a regression?

- [ ] Yes, this is a regression - functionality that previously worked is now broken

### Last Known Working Driver Version

_No response_

### First Known Failing Driver Version

_No response_

### API Call Logs

_No response_

### strace Logs

_No response_

### System Logs / dmesg Output

_No response_

### Backtrace (if crash or hang occurred)

_No response_

### Source Code / Reproducer

_No response_

### Command Line / Application Details

_No response_

### oneAPI Version (if applicable)

_No response_

### Screenshots / Video

_No response_

### Additional Notes

Ryzen 7 5700X3D - 48GB at 3133MHz - Arc B580 at PCIe 4.0 x16, GTX 1650 at PCIe 3.0 x4. Display connected to the 1650